# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# Packaging artifacts
*.egg-info/
dist/
build/

# pytest
.pytest_cache/

# Ruff
.ruff_cache/

# project
config.json